<% method = args[0] %>

<div class="flex flex-row gap-4" data-controller="image-preview">
  <label class="flex flex-col p-1 my-auto items-center bg-white text-primary rounded-full uppercase border border-primary cursor-pointer hover:bg-primary hover:text-white">
      <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
      </svg>
      <%= field.file_field method, class: "hidden", data: { target: "image-preview.input", action: "image-preview#readURL" } %>
  </label>
  <%= image_tag (field.object.persisted? and field.object.send(method).present?) ? field.object.send(method) : "", class: "w-16 h-16 rounded-full border border-primary", data: { target: "image-preview.output" } %>
</div>
